<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/account.css">
</head>
<body>
    <div id="container" >
        <main>
            <div id="inscriptionpageindex">
                <h1 style="text-align:center">HONDI PONG</h1>
                <div><h3 style="text-align:center; color:rgb(186, 127, 38); margin-bottom:40px">Bonjour <%= pseudoid %></h3> <a style="position:absolute; right:150px; top: 30px" href="/disconect"><button style="width:140px; height:40px;border:2px solid red;cursor: pointer">Déconnexion</button></a></div>
                <div id="info_game">
                    <p>Les touches du jeu Pong : </p>
                    <p><span style="color: red; font-size:30px"> &#9888;</span> Fléche droite &rarr; = lancer la balle sense aléatoire <span style="color: red; font-size:30px"> &#9888;</span></p>
                    <p>Fléche haut &uarr; = monter la barre du joueur</p>
                    <p>Fléche bas &darr; = décendre la barre du joueur</p>
                </div>
                <div id="playgame">
                    <a href="/account/game/"><button>COMMENCER UNE PARTIE</button></a>
                </div>
                <div id="scoreplayers">
                    
                    <table>
                        <thead>
                            <tr> 
                                <th colspan="8">PARTIE TERMINE</th>
                            </tr>
                           <tr>
                                <th colspan="1">Joueur 1</th>
                                 <th colspan="1">Points</th>
                                 <th colspan="1">Points</th>
                                 <th colspan="1">Joueur 2</th>
                                 <th colspan="1">Temps passé </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i<result.length; i++) {%>
                                <tr>
                                    <td><%= result[i].playerone[0] %></td>
                                    <td><%= result[i].playerone[2] %></td>
                                    <td><%= result[i].playertwo[2] %></td>
                                    <td><%= result[i].playertwo[0] %></td>
                                    <td><%= result[i].tempsgame %></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>                    
                </div>
                
            </div>
        </main>
        <footer>
            <h2>© 2021 ROI-MIKE ENTERTAINMENT. Tous droits réservés <a href="https://www.linkedin.com/in/samuel-maboza-hondi/">MABOZA HONDI SAMUEL</a></h2>
        </footer>
    </div>

    <script src="../static/javascript/account.js"></script>
</body>
</html>